

<!-- <div class="hero-unit">
  <h1>hlthapp</h1>
 </div> -->
 <!--  <ul class="unstyled">
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul> -->

  <!-- <a class="btn btn-large" href="#/nums">goto Nums</a>  
  <a class="btn btn-large" href="#/meds">goto Meds</a>
  <a class="btn btn-large" href="#/notes">goto Notes</a> -->

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">hlthapp</a>
    <ul class="nav">
      <li><a href="#">logout</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <section class="left-nav span4">
    <header id="profile-spot">
      <img src="../images/photo_small.jpg" height="100" width="100"/>
      <h1>Thirumalaa Srinivas</h1>
      
    </header>
    <nav >
     <ul >
      <li>
       <a href="#/nums">Nums</a>
     </li>
     <li>
       <a href="#/meds">Meds</a>
     </li>
     <li>
       <a href="#/notes">Notes</a>
     </li>
   </ul>
 </nav>
</section>
</div>