<div class="hero-unit">
	<h1>Medications</h1>
	<h3>Track all your medications.</h3>
</div>

<form class="form-inline" ng-submit="addMed()">
	<h4>New Medication</h4>
	<input type="text" class="input-large" ng-model="newMedName" placeholder="medication name" autofocus required>
	<input type="text" class="input-small" ng-model="newMedQty" placeholder="qty in ml/mg" required>
	<button class="btn" type="submit">add</button>
</form>

<br>

<table class="table table-hover">
  <h4>Medication List</h4>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity in ml/mg</th>
    </tr>
  </thead>
  <tbody >
    <tr ng-class="{editing: med == editedMedNames}" ng-repeat="med in medNames">
      <td>
      	<label class="view">{{ med.name }}</label>
      	<input class="edit input-small" ng-model="med.name">
      </td>
      <td>
      	<label class="view">{{ med.qty }}</label>
      	<input class="edit input-small" ng-model="med.qty">
      </td>
      <td>
      	<button class="view btn" ng-click="editMed(med)">edit</button>
      	<button class="edit btn" ng-click="saveMed(med)">save</button>
      	<button class="btn" ng-click="removeMed(med)">delete</button>
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-large" href="#/">goto Home</a>
