<div class="hero-unit feature-heads">
	<h1>Notes</h1>
	<h3>Store all your notes from health care provider visits.</h3>
</div>

<!-- <form class="form-inline" ng-submit="addNote()">
	<input type="text" class="input-large" ng-model="newQuestionName" placeholder="question" autofocus required>
	<button class="btn" type="submit">add</button>
</form> -->

<section class="action-bar">
	<button class="btn" type="submit">add</button>
</section>
<table class="table table-hover notes-table">
	<!-- Notes List table -->
	<thead>
		<tr>
			<th>QUESTION</th>
			<th>ANSWER</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody >
		<tr ng-repeat="note in notesList" ng-class="{editing: note == editedNotes}">
			<td>
				<label class="view" ng-click="editNote(note)">{{ note.question }}</label>
				<form ng-submit="saveNote(note)" class="form-inline" >
					<input type="text" class="edit" ng-model="note.question" required>
				</form>
			</td>
			<td>
				<label class="view" ng-show="note.answer" ng-click="editNote(note)">{{ note.answer }}</label>
				<button class="view add-note-answer" ng-hide="note.answer" ng-click="editNote(note)">+</button>
				<form ng-submit="saveNote(note)" class="form-inline" >
					<input type="text" class="edit" ng-model="note.answer" required>
				</form>
			</td>
			<td>
				<button class="destroy" ng-click="removeNote(note)">x</button>
			</td>
		</tr>
	</tbody>
</table>

