<div class="hero-unit">
	<h1>Notes</h1>
	<h3>Store all your notes from health care provider visits.</h3>
</div>

<form class="form-inline" ng-submit="addNote()">
	<h4>New Note</h4>
	<input type="text" class="input-large" ng-model="newQuestionName" placeholder="question" autofocus required>
	<button class="btn" type="submit">add</button>
</form>

<br><br><br>

<table class="table table-hover">
	<h4>Notes List</h4>
	<!-- Medication List table -->
	<thead>
		<tr>
			<th>Question</th>
			<th>Answer</th>
		</tr>
	</thead>
	<tbody >
		<tr ng-repeat="note in notesList" ng-class="{editing: note == editedNotes}">
			<td>
				<label class="view" ng-click="editNote(note)">{{ note.question }}</label>
				<form ng-submit="saveNote(note)" class="form-inline" >
					<input type="text" class="edit" ng-model="note.question" required>
				</form>
			</td>
			<td>
				<label class="view" ng-show="note.answer" ng-click="editNote(note)">{{ note.answer }}</label>
				<button class="view add-note-answer" ng-hide="note.answer" ng-click="editNote(note)">+</button>
				<form ng-submit="saveNote(note)" class="form-inline" >
					<input type="text" class="edit" ng-model="note.answer" required>
				</form>
			</td>
			<td>
				<button class="destroy" ng-click="removeNote(note)">x</button>
			</td>
		</tr>
	</tbody>
</table>


<br><br><br><br><br><br><br>
<a class="btn btn-large" href="#/">goto Home</a>
