<div class="hero-unit">
	<h1>Numbers</h1>
	<h3>Remember them after each visit.</h3>
</div>

<div id="number-sections" class="row" >
  <div class="span4" ng-class="{editing: 'weight' == editedNums}">
  	<h1 class="view" ng-click="editNums('weight')">{{ nums.weight }}</h1>
  	<form ng-submit="saveNums(nums)" class="form-inline" >
      <input type="number" class="input-small edit" ng-model="nums.weight" required>
    </form>
    <span>lbs</span>
    <h4>Weight</h4>
  </div>

  <div class="span4" ng-class="{editing: 'height' == editedNums}">
   <h1 class="view" ng-click="editNums('height')">{{ nums.heightFeet }}</h1>
   <form ng-submit="saveNums(nums)" class="form-inline" >
    <input type="number" class="input-small edit" ng-model="nums.heightFeet" required>
  </form>
  <span>feet</span>
  <h1 class="view" ng-click="editNums('height')">{{ nums.heightInches }}</h1>
  <form ng-submit="saveNums(nums)" class="form-inline" >
    <input type="number" class="input-small edit" ng-model="nums.heightInches" required>
  </form>
  <span>inches</span>
  <h4>Height</h4>
</div>

<div class="span4" ng-class="{editing: 'waist' == editedNums}">
  <h1 class="view" ng-click="editNums('waist')">{{ nums.waist }}</h1>
  <form ng-submit="saveNums(nums)" class="form-inline" >
    <input type="number" class="input-small edit" ng-model="nums.waist" required>
  </form>
  <span>inches</span>
  <h4>Waist</h4>
</div>
</div>


<br><br><br><br><br><br><br>
<a class="btn btn-large" href="#/">goto Home</a>