<div class="hero-unit">
	<h1>Numbers</h1>
	<h3>Remember them after each visit.</h3>
</div>

<div id="number-sections" class="row" ng-class="{editing: nums == editedNums}">
  <div class="span4" >
  	<h1 class="view" ng-click="editNums(nums)">{{ nums.weight }}</h1>
  	<form ng-submit="saveNums(nums)" class="form-inline" >
		<input type="number" class="input-small edit" ng-model="nums.weight" required autofocus>
	</form>
  	<span>lbs</span>
  	<h4>Weight</h4>
  </div>
  <div class="span4">
	<h1>{{ nums.heightFeet }}</h1><span>feet</span>
	<h1>{{ nums.heightInches }}</h1><span>inches</span>
	<h4>Height</h4>
  </div>
  <div class="span4">
  	<h1>{{ nums.waist }}</h1><span>inches</span>
  	<h4>Waist</h4>
  </div>
</div>


<br><br><br><br><br><br><br>
<a class="btn btn-large" href="#/">goto Home</a>